<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <header>

            <img src="images/studiodevslogotext.svg">

            <nav>
                <ul class="nav_links">
                    <ul class="nav_links">
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="scamregistry.html">Scam Registry</a></li>
                        <li><a href="searchusers.html">Search Users</a></li>
                        <li><a href="studioplus.html">StudioPlus</a></li>
                    </ul> 
                </ul>    
            </nav>

            <a class="cta" href="#"><button style="padding-right: 40px; padding-left: 40px; font-weight: 750;">Login</button></a>

        </header>
        
        <!-- container for the sign up boxes -->
       <div align="center">

            <!-- container for the avatar icon box -->
            <div class="container" style="width: 629px; height: 177px; margin-right: 16px; margin-left: 16px; margin-top: 35px;">
                <img src="images/account/profilecircle.svg" width="110" height="110" style="margin-top: 20px">
                <h1 style="font-size: 20px; margin-top: 5px; margin-right: 10px;">Avatar Icon</h1>
            </div>
            
            <!-- container for the discord account box -->
            <div style="display: flex; flex-flow: row; justify-content: center; margin-top: 15px;">
                
                <!-- container for the discord pfp box -->
                <div class="container" style="width: 177px; height: 177px; margin-right: 16px;">
                    <img src="images/account/defdiscord.png" width="110" height="110" style="margin-top: 32.5px;">
                </div>

                <!-- container for the discord account details box -->
                <div class="container" style="width: 436px; height: 177px;">
                </div>

            </div>

        </div>


    </body>
</html>